<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                {{ title }}
            </h3>
        </header>

        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-success" [router-link]="['\NewDestination']">New destination</a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ng-for="#destination of destinations">
                        <td>{{ destination.id }}</td>
                        <td><a [router-link]="['\Destination',{id:destination.id}]">{{ destination.name }}</a></td>
                        <td>{{ destination.lon }}</td>
                        <td>{{ destination.lat }}</td>
                    </tr>
                    <tr [hidden]="destinations.length">
                        <td>&nbsp;</td>
                        <td colspan="7">No Records Found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>