<h3>Filter:</h3>
<form class="form-horizontal">
    <div class="form-group" *ng-for="#column of columns">
        <label class="col-md-2 control-label">{{ column.name }}:</label>

        <div class="col-md-9" *ng-if="column.type!='number'">
            <input type="{{column.type}}" class="form-control" [(ng-model)]="column.value" (keyup)="filter()">

        </div>

        <div *ng-if="column.type=='number'">
            <div class="col-md-2">
                <select class="form-control" [(ng-model)]="column.equalityOperator" (keyup)="filter()">
                    <option value="=">&equals;</option>
                    <option value=">">&gt;</option>
                    <option value="<">&lt;</option>
                </select>
            </div>
            <div class="col-md-7">
                <input type="{{column.type}}" class="form-control" [(ng-model)]="column.value" (keyup)="filter()">
            </div>
        </div>

        <div class="col-md-1">
            <a class="btn btn-default" (click)="changeOrderDirection(column) && filter()">
                <span *ng-if="!column.orderDirection">-</span>
                <span *ng-if="column.orderDirection">
                    {{ column.orderDirection }}
                </span>
            </a>
        </div>
    </div>
</form>