<h2>Reservation "{{ reservation.name }}" detail</h2>
<form class="form-horizontal">
    <div class="form-group" *ng-if="reservation.id">
        <label class="col-md-2 control-label">Password:</label>

        <div class="col-md-10">
            <input type="text" class="form-control" [(ng-model)]="reservation.password">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Seats:</label>

        <div class="col-md-10">
            <input type="number" class="form-control" [(ng-model)]="reservation.seats" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">State:</label>

        <div class="col-md-10">
            <select class="form-control" [(ng-model)]="reservation.state">
                <option value="new">new</option>
                <option value="paid">paid</option>
                <option value="cancelled">cancelled</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Flight:</label>

        <div class="col-md-10">
            <select class="form-control" [(ng-model)]="reservation.flightId">
                <option value="new" *ng-for="#flight of flightOptions" [value]="flight.id">{{ flight.name }}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <a class="btn btn-default" [router-link]="['\Reservations']">
            << Back to reservations
        </a>

        <a class="btn btn-success" (click)="saveReservation(reservation)">
            <i class="fa fa-save"></i>
            Save
        </a>
    </div>
</form>