<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                {{ title }}
            </h3>
        </header>

        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-success" [router-link]="['\NewReservation']">New reservation</a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Password</th>
                        <th>Seats</th>
                        <th>State</th>
                        <th>Created at</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ng-for="#reservation of reservations">
                        <td>{{ reservation.id }}</td>
                        <td><a [router-link]="['\Reservation',{id:reservation.id}]">{{ reservation.password }}</a></td>
                        <td>{{ reservation.seats }}</td>
                        <td>{{ reservation.state }}</td>
                        <td>{{ reservation.created }}</td>
                    </tr>
                    <tr [hidden]="reservations.length">
                        <td>&nbsp;</td>
                        <td colspan="7">No Records Found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>