<h2>Flight "{{ flight.name }}" detail</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Name:</label>

        <div class="col-md-10">
            <input type="text" class="form-control" [(ng-model)]="flight.name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Date of departure:</label>

        <div class="col-md-10">
            <input type="datetime-local" class="form-control" [(ng-model)]="flight.dateOfDeparture" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Distance:</label>

        <div class="col-md-10">
            <input type="number" class="form-control" [(ng-model)]="flight.distance" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Seats:</label>

        <div class="col-md-10">
            <input type="number" class="form-control" [(ng-model)]="flight.seats" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Price:</label>

        <div class="col-md-10">
            <input type="number" class="form-control" [(ng-model)]="flight.price" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">From destination:</label>

        <div class="col-md-10">
            <select [(ng-model)]="flight.fromDestinationId"  class="form-control">
                <option *ng-for="#option of destinationOptions" [value]="option.id">{{option.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">To destination:</label>

        <div class="col-md-10">
            <select [(ng-model)]="flight.toDestinationId"  class="form-control">
                <option *ng-for="#option of destinationOptions" [value]="option.id">{{option.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <a class="btn btn-default" [router-link]="['\Flights']">
            << Back to flights
        </a>

        <a class="btn btn-success" (click)="saveFlight(flight)">
            <i class="fa fa-save"></i>
            Save
        </a>
    </div>
</form>
