<x-headers-filter [columns]="filterDefinition" (filtered)="onFilterChanged($event)"></x-headers-filter>

<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                {{ title }}
            </h3>
        </header>

        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-success" [router-link]="['\NewFlight']">New flight</a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Date of departure</th>
                            <th>Distance</th>
                            <th>Seats</th>
                            <th>Price</th>
                            <th>From destination</th>
                            <th>To destination</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ng-for="#flight of flights">
                            <td>{{ flight.id }}</td>
                            <td><a [router-link]="['Flight',{id:flight.id}]">{{ flight.name }}</a></td>
                            <td>{{ flight.dateOfDeparture }}</td>
                            <td>{{ flight.distance }}</td>
                            <td>{{ flight.seats }}</td>
                            <td>{{ flight.price }}</td>
                            <td>
                                <a [router-link]="['Destination', {id:flight.fromDestinationId}]">
                                    {{ destinationMap[flight.fromDestinationId] }}
                                </a>
                            </td>
                            <td>
                                <a [router-link]="['Destination', {id:flight.toDestinationId}]">
                                    {{ destinationMap[flight.toDestinationId] }}
                                </a>
                            </td>
                        </tr>
                        <tr [hidden]="flights.length">
                            <td>&nbsp;</td>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>